@font-face {
    font-family: 'CustomFont';
    src: url('https://github.com/B1NARYY/HolyZaverecneKodovani/blob/45164c065d218ec9c6dffd52880c3a7838203928/Standerd-Regular.ttf') format('ttf'), 
         url('https://github.com/B1NARYY/HolyZaverecneKodovani/blob/45164c065d218ec9c6dffd52880c3a7838203928/Standerd-Regular.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'CustomFont', sans-serif; 
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #20202D;
    color: white;
    padding: 4px;
}

#headerName{
    color: #e98231;
    font-weight: 700;
    font-size: 45px;

}
.content {
}

.boxes {
    position: relative;
    top: 200px;
    left: 20px; /* Adjust as needed */
}

.box {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px; /* To vertically center the text */
    position: relative;
    margin-bottom: 40px; /* Space between boxes */
  }
  .box a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
  }
  

#content-image {
    margin-top: 130px;
    max-width: 100%;
    height: auto;
    }
    
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #20202D;
    color: white;
    padding: 5px;
}
