@font-face {
    font-family: 'CustomFont';
    src: url('https://github.com/B1NARYY/HolyZaverecneKodovani/blob/45164c065d218ec9c6dffd52880c3a7838203928/Standerd-Regular.ttf') format('ttf'), 
         url('https://github.com/B1NARYY/HolyZaverecneKodovani/blob/45164c065d218ec9c6dffd52880c3a7838203928/Standerd-Regular.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of viewport height */
    overflow: hidden; 
    background-color: #e98231;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #20202D;
    color: white;
    padding: 4px;
    display: flex;
    padding:40px 20px;
}
.nav{
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nav p {
    margin-top: 45px;
    font-size: 40px;
}
button{
    background-color:#e98231;
    border-radius: 20px;
    height: 70px;
    width: 170px;
    margin-top: 35px;
    color: white;
    font-size: 30px;
}

.headerName{
    color: #e98231;
    font-weight: 700;
    font-size: 45px;
}

.headerSearch{
    float: right;
    color: white;
    font-size: 25px;
    background-color:#e98231;
}


.content-image {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.boxes {
    margin-top: -1200px; /* IDK HELP */
    margin-left: 20vw; /* Adjust this value to your preference */
    z-index: 1;
    position: relative;
}

.box   {
    width: 300px;
    background-color: #20202D;
    text-align: center;
    line-height: 110px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: 30px;
  }

  
  .box a {
    text-decoration: none;
    color:  #e98231;
    display: block;
    height: 100%;
    width: 100%;
  }

  .contentAboutUs{  
    position: fixed;
    top: 22vh;
    left: 15vw;
    right: 15vw;
    bottom: 13vw;
    background-color: #20202D;
    padding: 20px; 
    overflow: auto; 
    border-radius: 50px; 
  }

  #boxAboutUs{
    margin-top: -45px;
    font-size: 20px;
    line-height: 1.5;
    color: white; 
  }

  #contentHeader {
    text-align: center; 
    font-size: 45px;
}
@media (max-width: 768px) {
    .box-container {
        top: 30x; /* Adjust top margin for phones */
    }
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #20202D;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

